body {
	background: url('../images/bg-1920.jpg') no-repeat center center fixed;
}

.padding-top-15 {
	padding-top:15px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.alert {
	margin-bottom: 0;
}

.navbar-btn {
	margin-left:4px;
}

@media(max-width:768px){
	.mobile-fix {
		text-align: center;
	}
}
