

body {
	background: url('../images/bg-1920.jpg') no-repeat center center fixed;
	height:100vh;
}
em {
	font-style: italic;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #D7D7D7;
}

textarea {
	resize:none;
}
a:hover {
	text-decoration: none;
}
.padding-top-15 {
	padding-top:15px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-5 {
	margin-top:5px;
}
.margin-side-10 {
	margin-left:10px;
	margin-right: 10px;
}

.title {
	font-size: 25px;
}

.alert {
	margin-bottom: 0;
}

.navbar-btn {
	margin-left:4px;
}
.container {
	height:75%;
}

.cover-wrapper {
	max-height: 100%;
	color: white;
}

.inner{
	margin-top:16%;
}
	.inner h1 {
		font-size:80px;
	}

	.inner p {
		font-size: 30px;
	}

	.inner a {
		font-size:20px;
	}


@media(max-width:768px){
	.mobile-fix {
		text-align: center;
	}
}

.qhead{
	font-weight: bold;
	color:blue;
	font-size: 150%;

}
.cntbox{
	color: #3E5161;
}
