html {
	position:relative;
	min-height: 100%;
}

body {
	background: url('../images/bg-1920.jpg') no-repeat center center fixed;
	height:100%;
	margin:0;
	padding:0;
}
em {
	font-style: italic;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #D7D7D7;
}

textarea {
	resize:none;
}
a:hover {
	text-decoration: none;
}
.padding-top-15 {
	padding-top:15px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-5 {
	margin-top:5px;
}
.margin-side-10 {
	margin-left:10px;
	margin-right: 10px;
}

.title {
	font-size: 25px;
}

.alert {
	margin-bottom: 0;
}

.navbar-btn {
	margin-left:4px;
}
.container {
	height:75%;
}
.content-wrapper {
	padding-bottom: 60px;
	margin-bottom: 20px;
}

.cover-wrapper {
	max-height: 100%;
	color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #2c3e50;
}
.question-bg{
    background-color: rgba(58, 58, 58, 0.04);
}

.inner{
	padding-bottom: 20px;
	margin-top:16%;
}
	.inner h1 {
		font-size:80px;
	}

	.inner p {
		font-size: 30px;
	}

	.inner a {
		font-size:20px;
	}

	.inner .btn {
		padding: 12px 30px;
	}

@media(max-width:768px){
	.mobile-fix {
		text-align: center;
	}
	.inner {
		margin-top:10%;
	}
}

